:root {
  --primary: #7f5af0;
  --white: #fffffe;
  --secondary: #242629;
  --black: #16161a;
}

/* Fonts  */

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  background-color: var(--black);
}
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  color: var(--white);
  font-family: "Roboto";
}

.btn {
  background-color: var(--primary); /* Custom background color */
  border-color: var(--primary); /* Custom border color */
}

.btn:hover {
  background-color: #9479ea; /* Custom background color on hover */
  border-color: #9479ea;
}

.navHeader {
  position: absolute;
}

.link {
  color: var(--white);
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto";
}

.link:hover {
  box-shadow: inset 0 -1px var(--white);
  transition: all 0.5s ease-in-out;
}

.banner {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../Images/marble.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  z-index: -1;
}

.hori-line {
  box-shadow: inset 0px -5px 0px var(--primary);
  width: 150px;
}

.hr-line {
  box-shadow: inset 0px -5px 0px var(--primary);
  width: 50vw;
  position: relative; /* Position relative to use the ::after pseudo-element */
  display: inline-block; /* Make the element inline-block to center with margin auto */
}

div.sticky-section {
  position: sticky;
  top: 90px;
  height: 50vh;
  overflow-y: auto;
}

header.sticky {
  background-color: transparent;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
}

header.scrolled {
  position: fixed;
  background-color: #7f5af0;
  animation: bounceDrop 0.7s ease-in-out;
  width: 100%;
  z-index: 2;
}

@media (max-width: 992px) {
  /* 'sm' breakpoint and below */

  div.sticky-section {
    position: relative;
    top: 0;
    height: 30vh;
    margin-top: 50px;
  }
}

/* Keyframes for the bounce drop effect */
@keyframes bounceDrop {
  0% {
    top: -100px; /* Start off-screen */
  }
  60% {
    top: 0px; /* Bounce slightly below its final position */
  }
  80% {
    top: -1px; /* Bounce slightly above its final position */
  }
  100% {
    top: 0; /* Settle into the final position */
  }
}
